@charset "utf-8";
body .openerp .look_employee {
  height: 0px;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0px;
  padding: 0px;
  position: relative;
}
body .openerp .look_employee span {
  position: absolute;
  top: -36px;
  left: 170px;
  width: 58px;
  cursor: pointer;
  text-decoration: underline;
  color: #d67911;
  font-weight: bold;
}
body .openerp td.oe_application div.selfDefColor {
  background-color: #f0eeee;
  border: 2px solid #666;
  border-radius: 4px;
  box-shadow: #666 3px 3px 3px 0px;
  padding: 14px;
}
body .openerp td.oe_application div.selfDefColor h4 {
  margin-bottom: 6px;
}
body .openerp td.oe_application div.selfDefColor h4 a:hover {
  color: #e85f2d;
}
body .openerp td.oe_application div.selfDefColor ul {
  margin: 6px;
}
.oe_searchview_drawer .col-md-12 {
  margin-top: 18px;
}
.oe_searchview_drawer .col-md-12 ul {
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  width: 54%;
  padding-left: 0px;
  margin-left: 96px;
  padding-bottom: 2px;
}
.oe_searchview_drawer .col-md-12 ul li {
  float: left;
}
.oe_searchview_drawer .col-md-12 ul li:first-child {
  width: 74px;
  padding-left: 4px;
  margin-top: -6px;
  font-weight: bold;
  color: #7C7BAD;
}
.oe_searchview_drawer .col-md-12 ul li a {
  display: inline-block;
  margin: 0px 28px 0px 4px;
  color: #666;
  line-height: 24px;
  font-size: 13px;
}
.oe_searchview_drawer .col-md-12 ul li a:hover {
  background-color: #f0f0fa;
}
.oe_searchview_drawer .col-md-12 ul li.active > a {
  background-color: #7c7bad;
  border-radius: 10px;
  min-width: 10px;
  padding: 3px 7px;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  margin-top: 4px;
}
