@charset "utf-8";
body{
  .openerp{
    .look_employee{
      height: 0px;
      background-color: transparent;
      border: none;
      outline: none;
      margin: 0px; padding:0px;
      position: relative;
      span{
        position:absolute;
        top:-36px; left:170px;
        width: 58px;
        cursor: pointer;
        text-decoration: underline;
        color: #d67911;
        font-weight: bold;
      }
    }
  }
}