@charset "utf-8";
body{
  .openerp{
    .look_employee{
      height: 0px;
      background-color: transparent;
      border: none;
      outline: none;
      margin: 0px; padding:0px;
      position: relative;
      span{
        position:absolute;
        top:-36px; left:170px;
        width: 58px;
        cursor: pointer;
        text-decoration: underline;
        color: #d67911;
        font-weight: bold;
      }
    }
    td.oe_application{
      div.selfDefColor{
        background-color: #f0eeee;
        border: 2px solid #666;
        border-radius: 4px;
        box-shadow: #666 3px 3px 3px 0px;
        padding: 14px;
        h4{
          margin-bottom: 6px;
          a{
            &:hover{
              color:#e85f2d;
            }
          }
        }
        ul{
          margin: 6px;
        }
      }
    }
  }
}
//人力资源添加默认字段搜索
.oe_searchview_drawer{
  .col-md-12{
    margin-top:18px;
    ul{
      list-style: none;
      overflow: hidden;
      border-bottom: 1px solid #ddd;
      width: 54%;
      padding-left: 0px;
      margin-left: 96px;
      padding-bottom: 2px;
      li{
        float: left;
        &:first-child{
          width:74px;
          padding-left: 4px;
          margin-top:-6px;
          font-weight: bold;
          color: #7C7BAD;
        }
        a{
          display: inline-block;
          margin:  0px 28px 0px 4px;
          color:#666;
          line-height: 24px;
          font-size: 13px;
          &:hover{
            background-color: #f0f0fa;
          }
        }
      }
      li.active>a{
        background-color: #7c7bad;
        border-radius: 10px;
        min-width: 10px;
        padding: 3px 7px;
        color:#fff;
        font-size: 12px;
        line-height:12px;
        margin-top: 4px;
      }
    }
  }
}

.hidden_upload_btn{
  ul.oe_dropdown_menu{
    li.oe_sidebar_add_attachment{
      display: none;
    }
  }
}
i.uploadResume_tip{
  position: absolute;
  top:0px;right:0px;
  color: #e4393c;
  font-style:normal;
}

/**
 * 合同模块
 * 增加颜色说明，对不同颜色所对应的合同状态、类型进行注释
 * */
.oe_list_pager{
  position: relative;
  .line_color{
    position: absolute;
    width: 254px;
    left: -260px;
    span{
      color: #FA63C1;
    }
  }
}